header {
    #divinf {
        display: flex;
        flex-direction: row;
        width: 700px;
        align-self: center;
        

        div {
            width: 500px;
            margin-bottom: 31px;
            position: relative;
            i{
                position: relative;
                left: 13%;
            }
        }

        button {
            width: 200px;
        }
    }
}